*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --secondary:#ffdd95;
    --primary:#242428
}
h1,h2,h3,h4,h5,h6{
    color: var(--secondary);
}

/* all icons image heights */
.list_icon-img,.option_img{
    width: 1.8vw;
}
.list_menu{
    width: 1.3vw;
    cursor: pointer;
}
.list_menu>img ,.list_logo>img , .list_icon-img >img ,.option_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list_logo{
    width: 6vw;
}
/* button simple css */
button{
    background-color: var(--secondary);
    color: black;
    cursor: pointer;
    border: 0;
}

.container{
    background-color: var(--primary);
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
    background: linear-gradient(135deg,rgba(0,0,0,0.1),rgba(0,0,0,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav_left{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1.5rem;
}
.nav_left-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.left_list-input{
    position: relative;
}
#searchinput{
    padding: 10px 12px;
    border-radius: 25px;
    border: 0;
    width: 20vw;
}
.left_input-option{
    position: absolute;
    color: black;
    right: 15px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.left_input-option>p{
    font-size: x-small;
    background-color: rgb(114, 109, 109);
    padding: 2px 4px;
    border-radius: 5px;
    text-align: center;
    transition: background-color ease-in-out 0.3s;
}
.left_input-option>p:hover{
    background-color: gray;
}
.left_list-join{
    line-height: 16px;
    color: rgb(167, 161, 161);
    font-size: small;
}
.list_option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: x-small;
    cursor: pointer;
}
.list_option:hover >p{
    color: white;
    transition: all 0.3s ease;
}
.list_option:hover >p{
    color: var(--secondary);
}

/* nav right */
.right_list-btn{
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: x-small;
    transition: all 0.4s ease-in;
}

.right_list-btn:hover{
    color: var(--secondary);
    background-color: black;
}

/* header */

.header{
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
    height: 10vh;
    padding: 0 3rem;
}
.anime{
    background: url('./images/share-icon.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.header_heading{
    color: var(--secondary);
    margin: 5px 0;
}

.header_text > p{
    font-size: small;
    margin: 5px 0;
}
.header_share{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.share_text1{
    font-size: small;
}
.share_text2{
    font-size: xx-small;
    text-align: center;
}
.share_images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.share_img{
    background-color: greenyellow;
    transition: all 0.4s ease-in-out;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
}
.share_facebook{
    background-color: #3b5998;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.share_reddit{
    background-color: #FF4500;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.share_telegram{
    background-color: #0088CC;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.share_reddit:hover,.share_facebook:hover,.share_telegram:hover,.share_img:hover{
    transform: translateY(-6px);
}

.share_telegram>img,.share_facebook>img,.share_img>img,.share_reddit>img{
    width: 1vw;
}

/* main section */

.main{
    display: grid;
    grid-template-columns: 2fr 400px;
    grid-template-rows: 1fr;
    grid-template-areas: 'card list';
    gap: 1rem;
    padding: 2rem 3rem;
}
.box1{
    grid-area: card;
    /* display: fl  ex; */
}
.line1,.box2_lists{
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    cursor: pointer;
}
.card,.card_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card_img{
    width: 17vw;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    z-index: 1;
}
.playbtn{
    display: none;
    transition: all 0.3s ease-in-out;
}
.card_img>img:hover + .playbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    
}
.playbtn>img{
    width: 3vw;
}
.card_img>img:hover:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.144));
}
.card_img>img:hover{
    filter:  blur(8px);
}
.card_img>img{
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card_heading{
    color: white;
}
.card_para, .card_detail>span{
    color: gray;
    font-size: 0.7rem;
    line-height: 1rem;
}
.card_detail{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.card_dot{
    height: 4px;
    width: 4px;
    background-color: gray;
    border-radius: 50%;
}
.line2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small_card,.small_card_info{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.small_card{
    margin: 20px 0;
}
.small_card_img{
    width: 11vw;
    position: relative;
}
.small_playbtn>img{
    width: 2vw;
}
.small_playbtn{
    display: none;
    transition: all 0.3s ease-in-out;

}
.small_card_img>img:hover + .small_playbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
}
.small_card_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}
.small_card_img>img:hover:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.144));
}
.small_card_img>img:hover{
    filter:  blur(8px);
}

.box2{
    grid-area: list;
}
.box2_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_btns{
    display: flex;
}
.header_btn{
    background-color: rgba(255,255,255,0.1);
    padding: 0.4rem 0.6rem;
    font-size: x-small;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.toggle_option{
    background-color: var(--secondary);
    color: black;
}
.start_left-radius{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.end_right-radius{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box2_lists{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255,255,255,0.1);
    padding: 1rem 0.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
}
.list_card{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid gray;
    padding: 1rem 0;
}
.list_card_info{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.list_card--heading{
    font-weight: 700;
    font-size: large;
}
.list_card_info--heading{
    font-weight: 600;
    font-size: small;
    cursor: pointer;
}
.list_card_info--heading:hover{
    color: var(--secondary);
}
.list_card--heading-border{
    border-bottom: 2px solid var(--secondary);
    border-radius: 5px;
}

.list_card--heading-dull{
    color: rgb(167, 161, 161);
}
.list_card--img{
    width: 4vw;
    position: relative;
    /* height: 10vh; */
}
.list_card--img>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.info_options{
    display: flex;
    gap: 3px;
}
.all_option{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 5px;
}
.pink{
    background-color: palevioletred;
}
.green{
    background-color: lightgreen;
}
.all_option>img{
    width: 0.9vw;
}
.all_option>p{
    color: black;
    font-size: x-small;
    font-weight: 600;
}

.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    width: 20vw;
    padding: 2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    z-index: 10;
}
.glass_heading{
    font-size: 1rem;
    font-weight: 700;
}
.glass_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.glass_para{
    font-size: 0.75rem;
    color: rgb(165, 164, 164);
}
.detail_1,.detail_2,.detail_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.detail_3{
    border-radius: 5px;
}
.green>p{
    color: black;
}
.btn{
    display: flex;
    gap: 5px;
    color: black;
    padding: 2px 5px;
    font-size: x-small;
    font-weight: 600;
}
.yellow{
    background-color: var(--secondary);
    color: black;
}
.glass_add>img{
    width: 2vw;
}
.glass_btn>img{
    width: 1.5vw;
}
.btn>img,.detail_1>img{
    width: 0.9vw;
}
.glass_btns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.glass_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    padding: 0.4rem;
    border-radius: 20px;
}
.glass_add{
    display: flex;
    background-color: white;
    border-radius: 50%;
}

/* menu bar */
.aside{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(135deg,rgba(0,0,0,0.1),rgba(0,0,0,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: hidden;
}
.menu{
    background: linear-gradient(135deg,rgba(255,255,255,0.2),rgba(0,0,0,0.1));
    border: 1px solid rgba(0,0,0,0.1);
    width: 15vw;
    height: 100%;
    padding: 1rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.close_btn>img,.community>img{
    width: 1.2vw;
}
.close_btn{
    display: flex;
    cursor: pointer;
    gap: 1px;
    /* border: 1px solid rgba(0,0,0,0.1); */
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.123);
    background: linear-gradient(45deg,rgba(0,0,0,0.4),rgba(255, 255, 255, 0.1));
    border-radius: 25px;    
    width: 8vw;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 5vh;
}
.community{
    background-color: var(--primary);
    display: flex;
    padding: 0.4rem;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-size: small;
    cursor: pointer;
}
/* .page_list{
    display: flex;
    
} */
.menu_list{
    padding: 1rem 0;
    border-bottom: 1px solid rgba(248, 243, 243, 0.164);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.menu_list:hover{
    color: var(--secondary);
}